[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Icon=/snap/datagrip/18/bin/datagrip.png
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/datagrip_datagrip.desktop /snap/bin/datagrip %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-datagrip
