[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=/snap/phpstorm/32/bin/phpstorm.png
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/phpstorm_phpstorm.desktop /snap/bin/phpstorm %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
